body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    127deg,
    rgba(63, 0, 241, 1) 0%,
    rgba(85, 2, 228, 1) 47%,
    rgba(255, 21, 133, 1) 100%
  );
}

.container {
  background: #d7d7d7;
  padding: 15px;
  border-radius: 10px;
  width: 30rem;
  /* height: 20rem; */
}

.title {
  margin: 5px 0 20px 5px;
}

.content {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
button {
  background: #5727e9;
  border: none;
  border-radius: 5px;
  padding: 5px 40px;
  color: white;
}
